:root {
    --background: brown;
    --button: #ff9531;
    --button-hover: #ffd344;
    --text: rgb(255, 255, 255);
    --outline: rgb(0, 0, 0);
    --b-outline-size: 2px;
    --h-outline-size: 2px;


    --special: #e5486a; /*#e54873;*/
    --b-color: #e5486a;
    --border: #e5486a;

    --normal: 1em;

    --h1: 9vh;
    --h2: 5vh;
    --h3: 3em;
    --h3-min: 2em;

    --littlefont: 0.8em;
}

* {
    margin: 0;
    padding: 0;
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#title {
    top: 0;
    text-align: center;
    margin-bottom: 8vh;
    transition: 1.5s;
    cursor: default;
}

h1 {
    font-family: 'Mulish', sans-serif;
    color: white;
    font-size: var(--h1);
    display: block;
    white-space: nowrap;
    transition: 1.5s;
}

h2 {
    font-family: 'Mulish', sans-serif;
    font-size: var(--h2);
    color: var(--special);
    display: block;
    white-space: nowrap;
    transition: 1.5s;
}
  

h3 {
    font-family: 'Mulish', sans-serif;
    font-size: var(--h3);
    color: var(--special);
    display: block;
    white-space: nowrap;
    transition: 1.5s;
    padding: 5vh 0 5vh 0;
    /*background-color: rgba(50, 50, 50, 0.5);*/
}

h1,h2,h3 {
    text-shadow:
    calc(-1 * var(--h-outline-size)) calc(-1 * var(--h-outline-size)) var(--outline),
    calc(-1 * var(--h-outline-size)) calc(+1 * var(--h-outline-size)) var(--outline),
    calc(+1 * var(--h-outline-size)) calc(-1 * var(--h-outline-size)) var(--outline),
    calc(+1 * var(--h-outline-size)) calc(+1 * var(--h-outline-size)) var(--outline);
}

b {
    font-family: 'Mulish', sans-serif;
    color: var(--b-color);
    text-shadow:
    calc(-1 * var(--b-outline-size)) calc(-1 * var(--b-outline-size)) var(--outline),
    calc(-1 * var(--b-outline-size)) calc(+1 * var(--b-outline-size)) var(--outline),
    calc(+1 * var(--b-outline-size)) calc(-1 * var(--b-outline-size)) var(--outline),
    calc(+1 * var(--b-outline-size)) calc(+1 * var(--b-outline-size)) var(--outline);
}

.littlefont {
    font-size: var(--littlefont);
    padding: 0.5em 0 0.5em 0;
    display: inline-block;
}

@media only screen and (max-width: 1280px) {
    h3 {
        font-size: var(--h3-min);
    }
}
h3::before {
    content: "- ";
}
h3::after {
    content: " -";
}

section {
    margin: 0vh auto 0vh auto;
    padding: 0vh 10% 8vh 10%;
    font-size: var(--normal);
    text-align: left;
    color: var(--text);
    line-height: 1.5;
    /*background-color: black;*/

    text-shadow:
    0 0 2px black;
}

@media only screen and (max-width: 1280px) {
    section {
        padding: 4vh 5% 4vh 5%;
    }
}

@media only screen and (max-width: 736px) {
    section {
        padding: 4vh 5% 4vh 5%;
    }
}

table{
    display:inline-table;
    border-collapse: separate;
    border-spacing: 1em 0.5em;
}
td:first-child {
    font-size: var(--littlefont);
}

p {
    text-align: justify;
    text-justify: inter-word;
}

#about_section {
    background-color: black;
    padding: 4vh 15% 4vh 15%;
}

.phonescreens3 { /* ////////////////////// PHONE SCREENS ////////////////////// */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3vh;
}
.phonescreens2 { /* ////////////////////// PHONE SCREENS ////////////////////// */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3vh;
}

.game_grid_left { /* ////////////////////// GAME GRID LEFT ////////////////////// */
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    gap: 8vh;
}

@media only screen and (max-width: 1280px) {
    .game_grid_left {
        grid-template-columns: 0.8fr 1fr;
    }
}

@media only screen and (max-width: 736px) {
    .game_grid_left {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}

.game_grid_right { /* ////////////////////// GAME GRID RIGHT ////////////////////// */
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    gap: 8vh;
}
    
.game_grid_right div:nth-child(1){
    order:2;
  }
 
.game_grid_right div:nth-child(2){
    order:1;
  }

@media only screen and (max-width: 1280px) {
    .game_grid_right {
        grid-template-columns: 1fr 0.8fr;
    }
}

@media only screen and (max-width: 736px) {
    .game_grid_right {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .game_grid_right div:nth-child(1){
        order:1;
      }
     
    .game_grid_right div:nth-child(2){
        order:2;
      }
}

.figure_div {
    margin: 0 0 0 0;
}

@media only screen and (max-width: 1280px) {
    .figure_div {
        margin: 0 0 0 0;
    }
}

@media only screen and (max-width: 736px) {
    .figure_div {
        margin: 0 15% 0 15%;
    }
}

.about_grid {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    gap: 8vh;
}

@media only screen and (max-width: 1280px) {
    .about_grid {
        grid-template-columns: 0.4fr 1fr;
    }
}

@media only screen and (max-width: 736px) {
    .about_grid {
        grid-template-columns: 1fr;
        grid-template-rows: 30vh auto;
    }
}

.old_games {
    margin-top: 4vh;
    margin-bottom: 4vh;
    padding: 0vh 15% 8vh 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4vh;
}

@media only screen and (max-width: 1280px) {
    .old_games {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0vh 5% 8vh 5%;
    }
}

@media only screen and (max-width: 736px) {
    .old_games {
        padding: 0vh 5% 8vh 5%;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
}

.vertical_game {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto; /*grid-template-rows: 25vh auto;*/
    gap: 4vh;
}

@media only screen and (max-width: 736px) {
    .vertical_game {
        grid-template-rows: auto auto;
    }
}


img, .image {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    border: 0.2vh solid var(--border);
    border-radius: 1.5vh;
    box-shadow: 0 0 0.3vh 0.3vh var(--border);
}

figure {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

body {
    font-family: Muli;
    overflow-y: scroll;
    background-color: black;
}

.page {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 5vh;
    transition: 0.5s;
    display: block;
}

a {
    /*text-decoration: none;*/
    color: var(--button);
    transition: 0.1s;
    transition-timing-function: ease-out;
}

a:hover {
    color: var(--button-hover);
}

figcaption {
    text-align: center;
    margin-top: 1em;
}

footer {
    color: var(--text);

    margin-bottom: 3vh;
    height: 8vh;

    display: flex;
    justify-content: center;
    align-items: center;

    /*width: 100%;
    background: url(line.svg);
    background-repeat: repeat;

    transition: 0.5s;
    transition-timing-function: linear;*/
    
    background-color: black;
}

.game_section1 {
    margin-top: 6vh;
    margin-bottom: 6vh;
    background-color: rgba(0, 0, 0, 0.3);
}
.game_section2 {
    margin-top: 6vh;
    margin-bottom: 6vh;
    background-color: rgba(255, 255, 255, 0.03);
}

.scene {
    z-index: -999;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #141414;
    filter: brightness(3);
}

.scene path:first-child {
	fill: #1a1a1a;
}

.scene path:nth-child(2) {
	fill: #131313;
}

.scene path:nth-child(3) {
	fill: #1d1d1d;
}

.scene path:nth-child(4) {
	fill: #1a1a1a;
}

.scene path:nth-child(5) {
	fill: #141414;
}

.scene path:nth-child(6) {
	fill: #161616;
}

.scene path:nth-child(7) {
	fill: #1d1d1d;
}