:root {
    --background: brown;
    --special: #e54873;
    --button: #ff9531;
    --button-hover: #ffd344;
    --text: rgb(255, 255, 255);

    --h1: 9vh;
    --h2: 5vh;
    --h3: 3em;
}

* {
    margin: 0;
    padding: 0;
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#title {
    top: 0;
    text-align: center;
    margin-bottom: 8vh;
    transition: 1.5s;
    cursor: default;
}

h1 {
    color: white;
    font-size: var(--h1);
    display: block;
    white-space: nowrap;
    transition: 1.5s;
}

h2 {
    font-size: var(--h2);
    color: var(--special);
    display: block;
    white-space: nowrap;
    transition: 1.5s;
}
  

h3 {
    margin-top: 8vh;
    font-size: var(--h3);
    color: var(--special);
    display: block;
    white-space: nowrap;
    transition: 1.5s;
    padding: 5vh 0 5vh 0;
    /*background-color: rgba(50, 50, 50, 0.5);*/
}
h3::before {
    content: "- ";
}
h3::after {
    content: " -";
}

section {
    margin: 0vh auto 8vh auto;
    padding: 0vh 15% 8vh 15%;
    font-size: 1.2em;
    text-align: left;
    color: var(--text);
    /*background-color: black;*/
}

#about_section {
    background-color: black;
    padding: 4vh 15% 4vh 15%;
}

@media only screen and (max-width: 1280px) {
    section {
        padding: 4vh 5% 4vh 5%;
    }
}

@media only screen and (max-width: 736px) {
    section {
        padding: 4vh 5% 4vh 5%;
    }
}

.phonescreens { /* ////////////////////// PHONE SCREENS ////////////////////// */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4vh;
}

.game_grid_left { /* ////////////////////// GAME GRID LEFT ////////////////////// */
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    grid-gap: 8vh;
}

@media only screen and (max-width: 1280px) {
    .game_grid_left {
        grid-template-columns: 0.6fr 1fr;
    }
}

@media only screen and (max-width: 736px) {
    .game_grid_left {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}

.game_grid_right { /* ////////////////////// GAME GRID RIGHT ////////////////////// */
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    grid-gap: 8vh;
}
    
.game_grid_right div:nth-child(1){
    order:2;
  }
 
.game_grid_right p:nth-child(2){
    order:1;
  }

@media only screen and (max-width: 1280px) {
    .game_grid_right {
        grid-template-columns: 1fr 0.6fr;
    }
}

@media only screen and (max-width: 736px) {
    .game_grid_right {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .game_grid_right div:nth-child(1){
        order:1;
      }
     
    .game_grid_right p:nth-child(2){
        order:2;
      }
}

.about_grid {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-gap: 4vh;
}

@media only screen and (max-width: 1280px) {
    .about_grid {
        grid-template-columns: 0.3fr 1fr;
    }
}

@media only screen and (max-width: 736px) {
    .about_grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}

img, .image {
    position: relative;
    top: 0;
    left: 0;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 100%;
    border: 0.4vh solid rgb(65, 65, 65);
    border-radius: 1.5vh;
    box-shadow: 0 0 0.1vh 0.1vh black;
}

@media only screen and (max-width: 736px) {

    figure img {
        max-width: 90%;
    }

    .reducewidth {
        max-width: 40%;
    }
}

body {
    font-family: Muli;
    overflow-y: scroll;
}

.page {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 5vh;
    transition: 0.5s;
    display: block;
}

a {
    /*text-decoration: none;*/
    color: var(--button);
    transition: 0.1s;
    transition-timing-function: ease-out;
}

a:hover {
    color: var(--button-hover);
}

p {
    text-align: justify;
    text-justify: inter-word;
}

figcaption {
    text-align: center;
    margin-top: 1vh;
}

footer {
    color: var(--text);

    margin-top: 15vh;
    margin-bottom: 3vh;
    height: 8vh;

    display: flex;
    justify-content: center;
    align-items: center;

    /*width: 100%;
    background: url(line.svg);
    background-repeat: repeat;

    transition: 0.5s;
    transition-timing-function: linear;*/
    
    background-color: black;
}

.game_section1 {
    background-color: rgba(0, 0, 0, 0.1);
}
.game_section2 {
    background-color: rgba(0, 0, 0, 0.1);
}

.scene {
    z-index: -999;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #000000;
}

.scene path:first-child {
	fill: #1a1a1a;
}

.scene path:nth-child(2) {
	fill: #131313;
}

.scene path:nth-child(3) {
	fill: #1d1d1d;
}

.scene path:nth-child(4) {
	fill: #1a1a1a;
}

.scene path:nth-child(5) {
	fill: #141414;
}

.scene path:nth-child(6) {
	fill: #161616;
}

.scene path:nth-child(7) {
	fill: #1d1d1d;
}