:root {
    --background: brown;
    --button: #ff9531;
    --button-hover: #ffd344;
    --text: rgb(255, 255, 255);
    --outline: rgb(0, 0, 0);
    --b-outline-size: 2px;
    --h-outline-size: 2px;

    --black: rgb(20, 20, 20);


    --special: #e54873;
    --special-alpha: #e5487280;

    --b-color: #e54873;
    --border: #e54873;

    --normal: 1em;
    --button-font-size: 1.1em;

    --h1: 9vh;
    --h2: 6vh;
    --h3: 3em;
    --h3-min: 2em;

    --littlefont: 0.8em;
}

* {
    margin: 0;
    padding: 0;
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#title {
    top: 0;
    text-align: center;
    margin-bottom: 8vh;
    cursor: default;
}

h1 {
    font-family: 'Mulish', sans-serif;
    color: white;
    font-size: var(--h1);
    display: block;
    white-space: nowrap;
}

h2 {
    font-family: 'Mulish', sans-serif;
    font-size: var(--h2);
    color: var(--special);
    display: block;
    white-space: nowrap;
}
  

h3 {
    font-family: 'Mulish', sans-serif;
    font-size: var(--h3);
    color: var(--special);
    display: block;
    white-space: nowrap;
    padding: 5vh 0 5vh 0;
}

h1,h2,h3 {
    text-shadow:
    calc(-1 * var(--h-outline-size)) calc(-1 * var(--h-outline-size)) var(--outline),
    calc(-1 * var(--h-outline-size)) calc(+1 * var(--h-outline-size)) var(--outline),
    calc(+1 * var(--h-outline-size)) calc(-1 * var(--h-outline-size)) var(--outline),
    calc(+1 * var(--h-outline-size)) calc(+1 * var(--h-outline-size)) var(--outline);
}

video {
    width: 100%;
}

b {
    font-family: 'Mulish', sans-serif;
    color: var(--b-color);
    text-shadow:
    calc(-1 * var(--b-outline-size)) calc(-1 * var(--b-outline-size)) var(--outline),
    calc(-1 * var(--b-outline-size)) calc(+1 * var(--b-outline-size)) var(--outline),
    calc(+1 * var(--b-outline-size)) calc(-1 * var(--b-outline-size)) var(--outline),
    calc(+1 * var(--b-outline-size)) calc(+1 * var(--b-outline-size)) var(--outline);
}

.littlefont {
    font-size: var(--littlefont);
    padding: 0.5em 0 0.5em 0;
    display: inline-block;
}

@media only screen and (max-width: 1280px) {
    h3 {
        font-size: var(--h3-min);
    }
}
h3::before {
    content: "- ";
}
h3::after {
    content: " -";
}

section {
    margin: 0vh auto 0vh auto;
    padding: 0vh 10% 8vh 10%;
    font-size: var(--normal);
    text-align: left;
    color: var(--text);
    line-height: 1.5;

    text-shadow:
    0 0 2px black;
}

@media only screen and (max-width: 1280px) {
    section {
        padding: 4vh 5% 4vh 5%;
    }
}

@media only screen and (max-width: 736px) {
    section {
        padding: 4vh 5% 4vh 5%;
    }
}

table{
    display:inline-table;
    border-collapse: separate;
    border-spacing: 1em 0.5em;
}
td:first-child {
    font-size: var(--littlefont);
}

p {
    text-align: justify;
    text-justify: inter-word;
}

.black_section {
    background-color: var(--black);
    padding: 4vh 15% 4vh 15%;
}

.phonescreens3 { /* ////////////////////// PHONE SCREENS ////////////////////// */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3vh;
}
.phonescreens2 { /* ////////////////////// PHONE SCREENS ////////////////////// */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3vh;
}

.game_grid_left { /* ////////////////////// GAME GRID LEFT ////////////////////// */
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    gap: 8vh;
}

@media only screen and (max-width: 1280px) {
    .game_grid_left {
        grid-template-columns: 0.8fr 1fr;
    }
}

@media only screen and (max-width: 736px) {
    .game_grid_left {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}

.game_grid_right { /* ////////////////////// GAME GRID RIGHT ////////////////////// */
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    gap: 8vh;
}
    
.game_grid_right div:nth-child(1){
    order:2;
  }
 
.game_grid_right div:nth-child(2){
    order:1;
  }

@media only screen and (max-width: 1280px) {
    .game_grid_right {
        grid-template-columns: 1fr 0.8fr;
    }
}

@media only screen and (max-width: 736px) {
    .game_grid_right {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .game_grid_right div:nth-child(1){
        order:1;
      }
     
    .game_grid_right div:nth-child(2){
        order:2;
      }
}

.figure_div {
    margin: 0 0 0 0;
}

.about_grid {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    gap: 8vh;
}

@media only screen and (max-width: 1280px) {
    .about_grid {
        grid-template-columns: 0.4fr 1fr;
    }
}

@media only screen and (max-width: 736px) {
    .about_grid {
        grid-template-columns: 1fr;
        grid-template-rows: 30vh auto;
    }
}

.old_games {
    margin-top: 4vh;
    margin-bottom: 4vh;
    padding: 0vh 15% 8vh 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4vh;
}

@media only screen and (max-width: 1280px) {
    .old_games {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0vh 5% 8vh 5%;
    }
}

@media only screen and (max-width: 736px) {
    .old_games {
        padding: 0vh 5% 8vh 5%;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
}

.vertical_game {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 4vh;
}

input {
    font-family: 'Mulish', sans-serif;
    font-size: var(--button-font-size);
	border-radius:28px;
	border: none;
	display:inline-block;
	cursor:pointer;
	color:#000000;
    width:170px;
    height:2em;
    padding:4px 4px 4px 28px;
    margin:4px 4px 4px 4px;
    transition: 0.1s;
    transition-timing-function: ease-out;
}
input:hover {
	background-color:var(--button-hover);
}
input:active {
	position:relative;
	top:2px;
}


.linkedin_button{
    background:var(--button) url(img/symbols/linkedin.svg) no-repeat 8px 0;
}

.curriculum_button{
    background:var(--button) url(img/symbols/curriculum.svg) no-repeat 8px 0;
}


.image {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    border: 0.2vh solid var(--border);
    border-radius: 1.5vh;
    box-shadow: 0 0 0.3vh 0.3vh var(--border);
}

figure {
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

body {
    font-family: Muli;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--black);
    overflow: hidden;
}

.page {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 5vh;
    display: block;
}

a {
    /*text-decoration: none;*/
    color: var(--button);
    transition: 0.1s;
    transition-timing-function: ease-out;
}

a:hover {
    color: var(--button-hover);
}

figcaption {
    text-align: center;
    margin-top: 1em;
}

footer {
    color: var(--text);

    margin-bottom: 3vh;
    height: 8vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--black);
}

.game_section {
    margin-top: 6vh;
    margin-bottom: 6vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.scene {
    z-index: -999;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #141414;
    filter: brightness(2);
}

.scene path:first-child {
	fill: #1a1a1a;
}

.scene path:nth-child(2) {
	fill: #131313;
}

.scene path:nth-child(3) {
	fill: #1d1d1d;
}

.scene path:nth-child(4) {
	fill: #1a1a1a;
}

.scene path:nth-child(5) {
	fill: #141414;
}

.scene path:nth-child(6) {
	fill: #161616;
}

.scene path:nth-child(7) {
	fill: #1d1d1d;
}

::-webkit-scrollbar {
    left:-100px;
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-button {
    width: 23px;
    height: 23px;
}
::-webkit-scrollbar-thumb {
    background: var(--special-alpha);
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--special);
}
::-webkit-scrollbar-thumb:active {
    background: var(--special);
}
::-webkit-scrollbar-track {
    background: #00000000;
    border-radius: 50px;
}
/*::-webkit-scrollbar-track:hover {
    background: #666666;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}*/
::-webkit-scrollbar-corner {
    background: transparent;
}

.vr_grid {
    display: grid;
    grid-template-columns: 1fr 0.7fr 0.7fr;
    grid-gap: 4vh;
}

@media only screen and (max-width: 980px) {
    .vr_grid {
        grid-template-columns: 1fr 0.7fr 0.7fr;
    }
}

@media only screen and (max-width: 736px) {
    .vr_grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
}

.vr_group {
    margin-top: 6vh;
    margin-bottom: 6vh;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0vh 20% 8vh 20%;
}

@media only screen and (max-width: 1280px) {
    .vr_group {
        margin: 0vh 5% 8vh 5%;
    }
}

@media only screen and (max-width: 736px) {
    .vr_group {
        margin: 0vh 5% 8vh 5%;
    }
}

.inner_image {
    position: relative;
    width:100%;
}

@media only screen and (max-width: 736px) {
    .inner_image {
        max-height: 50vh;
        width: auto;
    }
}

#overlay{
    position:fixed;
    z-index:99999;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(0,0,0,0.9);
    transition: 1s 0.4s;
  }
  #progress{
    height: 0.5em;
    background: var(--special);
    position:absolute;
    width:0;
    top:50%;
    transition: 1s;
  }
  #progstat{
    font-size: 2em;
    letter-spacing: 3px;
    position:absolute;
    top:50%;
    margin-top:-2em;
    width:100%;
    text-align:center;
    color: var(--special);
  }